PyQt6
pyqtgraph
moviepy==1.0.3
elevenlabs
pygetwindow
screeninfo
pycountry
SpeechRecognition
openai-whisper
numba
llvmlite>=0.42.0
yt-dlp
anthropic
python-pptx
transformers
pyaudio
pydub
bs4
num2words
langdetect
python-dotenv
pyinstaller
opencv-python-headless
beautifulsoup4>=4.12.0
python-slugify>=8.0.0
requests>=2.28.0
google-generativeai
langchain_google_genai
Markdown
python-docx
langchain_openai
langchain_anthropic
Pillow
docx2pdf
fpdf2
pypdf
markdownify
python-docx
googletrans