PyQt6
pyqtgraph
moviepy
elevenlabs
pygetwindow
screeninfo
pycountry
SpeechRecognition
openai-whisper
numba
yt-dlp
anthropic
python-pptx
transformers
pyaudio
pydub
bs4
num2words
langdetect
python-dotenv
pyinstaller
opencv-python-headless
browser-use
beautifulsoup4
python-slugify
requests
playwright
google-generativeai
langchain_google_genai
Markdown
python-docx