PyQt6
pyqtgraph
moviepy==1.0.3
elevenlabs
pygetwindow
screeninfo
pycountry
SpeechRecognition
yt-dlp
anthropic
python-pptx
transformers
pyaudio
pydub
bs4
num2words
langdetect
python-dotenv
pyinstaller
opencv-python
